In [6]:
#20
n=int(input())
sum1=0
for i in range(0,n+1):
    if(i%2!=0):
        sum1=sum1+i
        
print(sum1)

10
25

In [8]:
#21
fruits=["Apple","Banana","Pear","Apricot","Orange","Avocado","Breadfruit","Acerola"]
for i in fruits:
    if i[0]=='A':
        print(i)

Apple
Apricot
Avocado
Acerola

In [15]:
#22
Countries=["Finland","Germany","Sweden","Ireland","Turkey"]
for i in Countries:
    if i[-1]=='d' and i[-2]=='n' and i[-3]=='a':
        print(i)

Finland
Ireland

In [17]:
#23
l1=[25,12,33,12,8,10]
print(sum(l1))

100

In [24]:
#24
l1=[1,2,5,4,8,10,13,15,18,30]
l2=[]
for i in l1:
    if i%5!=0:
        l2.append(i)
print(l2)

[1, 2, 4, 8, 13, 18]

In [25]:
#25
l1=[1,2,5,4,8,10,12,15,18,30]
l2=[]
for i in l1:
    l2.append(i*i)
print(l2)

[1, 4, 25, 16, 64, 100, 144, 225, 324, 900]

In [26]:
#26
a1=int(input())
f1=(a1*1.8)+32
print(f1)

65
149.0

In [27]:
#27
n=int(input())
sum1=0
for i in range(0,n+1):
    sum1=sum1+(i*i)
    
print(sum1)

4
30

In [28]:
#28
n=int(input())
for i in range(1,11):
    print(n,'*',i,'=',n*i)

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [30]:
#34
n=int(input())
sum1=0
for i in range(0,n+1):
    sum1=sum1+i*i*i+1
    print(sum1)
    sum1=0

6
1
2
9
28
65
126
217

In [32]:
#35
n=int(input())
sum1=0
for i in range(11,n):
    sum1=(i)*(i+1)
    print(sum1)
    sum1=0

16
132
156
182
210
240

In [40]:
#33
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print("\n")

5
1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [43]:
#29
n=int(input())
for i in range(2,n+1):
    for j in range(2,i):
        if(i%j==0):
            break
    else:
        print(i)

20
2
3
5
7
11
13
17
19

In [48]:
#31
n=int(input())
for i in range(0,n+1):
    n1=i
    sum1=0
    while(n1>0):
        riv=n1%10
        sum1=sum1*10+riv
        n1=n1//10
    if(sum1==i):
        print(i)

200
0
1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191

In [52]:
#30
n=int(input())
for i in range(0,n+1):
    n1=i
    sum1=0
    while(n1>0):
        riv=n1%10
        sum1=sum1+riv**3
        n1=n1//10
    if(sum1==i):
        print(i)

200
0
1
153

In [83]:
#36
def fun(n):
    i=1
    x=1
    while(i<=n):
        print(x,end=" ")
        x=(x**2)+1
        i=i+1
        if(i>n):
            break
        print(x,end=" ")
        x=(x**2)-1
        i=i+1

In [88]:
fun(6)

1 2 3 10 99 9802

In [89]:
#19
vowels='aeiou'
def fun(s1):
    for i in s1:
        if i in vowels:
            i=i.upper()
            print(i,end=" ")
            
        else:
            i=i.lower()
            print(i,end=" ")

In [90]:
fun("Welcome to Python")

w E l c O m E   t O   p y t h O n

In [91]:
fun("Programming Laboratory")

p r O g r A m m I n g   l A b O r A t O r y

In [104]:
#32
def Length(n):    
    length = 0;    
    while(n != 0):                    # calculating the length of the number
        length = length + 1;    
        n = n//10;    
    return length;    
     
#sumDigit()  
def sumdigit(num):    
    rem = sum = 0;    
    len = Length(num);     # checking the number is disarium or not
        
    while(num > 0):    
        rem = num%10;   
        sum = sum + (rem**len);    
        num = num//10;    
        len = len - 1;    
    return sum;    
      
result = 0;    
     

print("Disarium numbers between 1 and 100 are");    
for i in range(1, 101):           # printing disarium numbers
    result = sumdigit(i);    
        
    if(result == i):    
        print(i),

Disarium numbers between 1 and 100 are
1
2
3
4
5
6
7
8
9
89